{% extends "base.html" %}

{% block contents %}

<body class="text-center">
        <br>
        <br>
        <br>
        <h1 class="h3 mb-3 fw-normal" style="font-size: 50px;">forgot password</h1>

        {% if error %}
            <div class="alert alert-danger" role="alert">
                    {{ error }}
            </div>
        {% endif %}

        <form action="/forgotPassword", method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="row g-3">
                <div class="col-auto">
                    <input type="text" class="form-control" id="username" placeholder="username" name="username">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">get verification code</button>
                </div>
            </div>
        </form>

</body>

{% endblock %}
