{% extends "base.html" %}

{% block contents %}

<body class="text-center">
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal" style="font-size: 50px;">Reset password</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                    {{ error }}
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                    Verify success. Please reset your password.
            </div>
        {% endif %}

        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="top">
                <label for="inputPassword" class="visually-hidden">password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="password" required maxlength="20" minlength="6">
            </div>

            <div class="bottom">
                <label for="inputConfirmPassword" class="visually-hidden">confirm password</label>
                <input type="password" name="confirmPassword" id="confirm" class="form-control" placeholder="confirm password" required maxlength="20" minlength="6">
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">reset password</button>
        </form>
        <br><br>
    </main>
</body>

{% endblock %}
