{% extends 'base.html' %}

{% block navbar %}
    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li  class="nav-item mr-auto">
              <a id = "navbar-date" class="nav-link active" href="#"></a>
        </li>
        <li class="nav-item mr-auto">
            <a class="nav-link active" href="{{ url_for('auth.signup') }}">Sign up</a>
        </li>
        <li class="nav-item mr-auto">
            <a class="nav-link active" href="{{ url_for('auth.login') }}">Login in</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    <div id = "do-not-have-team"style="margin: 20px 20px 20px 20px;">
        <h3>You do not have any team yet.</h3>
        <h3 style="margin-bottom: 10px">Click here to create a new team.</h3>
        <button id = "create-new-team"
           style="width: 10%; margin-top: 20px;padding: 10px; text-align: center; color: white; background-color: dimgray;
           border-radius: 5px; text-decoration: none">
            Create a new team
        </button>
    </div>
    <div class = "card" id = "create-your-team" style="width: 30%; margin-left:auto;
        margin-right:auto; padding: 20px; display: none">
        <div class="form-group"style="margin-bottom: 10px">
            <form id = "invite-form">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username">
                <small id="emailHelp" class="form-text text-muted">Invite your friend to create a new team.</small>
                <button id="invite-button" type="submit" class="btn btn-primary" style="margin-top: 10px">Invite</button>
            </form>
        </div>
        <h5 style="margin-top: 5px">Your current team:</h5>
        <div id = "current-team" class = "card">
        </div>
        <button id="create-button" type="submit" class="btn btn-primary" style="margin-top: 10px">Create</button>
    </div>
    <div class = "card" id = "create-your-team" style="width: 30%; margin-left:auto;
        margin-right:auto; padding: 20px; display: none">
        <div class="form-group"style="margin-bottom: 10px">

        </div>
        <h5 style="margin-top: 5px">Team captain</h5>
        <div id = "current-team" class = "card">

        </div>
        <button id="create-button" type="submit" class="btn btn-primary" style="margin-top: 10px">Create</button>
    </div>
    <script src="../static/team.js"></script>
{% endblock %}