<!doctype html>
<title>Flaskr</title>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css" integrity="sha384-t5CR+zwDAROtph0PXGte6ia8heboACF9R5l/DiY+WZ3P2lxNgvJkQk5n7GPvLMYw" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.js" integrity="sha384-FaFLTlohFghEIZkw6VGwmf9ISTubWAVYW8tG8+w2LAIftJEULZABrF9PPFv+tVkH" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/contrib/auto-render.min.js" integrity="sha384-bHBqxz8fokvgoJ/sc17HODNxa42TlaEhB+w8ZJXTc2nZf1VgEaFZeZvT4Mznfz0v" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>

    <script src="https://kit.fontawesome.com/91acc28823.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <style>
        .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
        }

        button {
            background-color: darkorange;
            width:100%;
            height:100%;
            text-align: initial;
        }

        * {
            box-sizing: border-box;
            margin:0;
            padding:0;
        }

        .timetable td {
            padding: 0;
            margin:0;
        }

        th {

            width: 130px;
        }
        td {
            height:65px;
            border-right: 1px black solid;
            border-left: 1px black solid;
            border-radius: 2px;
            margin:0px;
            padding:0px;
        }

        * {
            margin : 0px;
            padding: 0px;
        }
        .warning-li {
            padding-top: 15px;
            text-align: center;
        }

        .message {
            color: white;
        }
        #warnings {
            height: 50px;
            margin: 0px;
            padding: 0px;
            background-color: coral;
        }

    </style>
</head>
<body>
        {% with messages = get_flashed_messages() %}
      {% if messages %}
            <div id = "warnings">
                <ul class=flashes>
                {% for message in messages %}
                  <li class="warning-li"><p class = "message">{{ message }}<p></li>
                {% endfor %}
                </ul>
            </div>
      {% endif %}
    {% endwith %}
    <nav class="navbar navbar-expand-lg navbar navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('timeTable.show_timeTable') }}" style="font-family: 'Open Sans', sans-serif;"><b>NUSchedule</b></a>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('timeTable.show_timeTable') }}">Individual</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Team</a>
            </li>
          </ul>
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item mr-auto">
                <a class="nav-link active" href="#">Welcome, {{userName}}</a>
            </li>
            <li  class="nav-item mr-auto">
                  <a id = "navbar-date" class="nav-link active" href="#"></a>
            </li>
            <li class="nav-item mr-auto">
                <a class="nav-link active" href="{{ url_for('auth.logout') }}">Log out</a>
            </li>
        </ul>
        </div>
      </div>
    </nav>
    <main class="flex-shrink-0" style="background-image: url(../../static/img/main-background.jpg)
; background-size: 100%">
    <div class = "container card" id="timetable-container" style="display: inline-block; width: 70%; border:2px solid black;
            border-radius: 5px; height: 830px; overflow: auto; margin:40px 45px; opacity: 90%;">
        <div style="text-align: center;margin-top: 20px;margin-bottom: 10px">
            <span>
                <h2 style="display:inline-block;padding-right: 20px">Timetable</h2>
                <svg style="padding-bottom: 14px" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-calendar-range" viewBox="0 0 16 16">
                    <path d="M9 7a1 1 0 0 1 1-1h5v2h-5a1 1 0 0 1-1-1zM1 9h4a1 1 0 0 1 0 2H1V9z"/>
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                </svg>
            </span>
        </div>

        <div id="timetable">
            <div class="table-responsive", style="width: 100%">
                <table class="timetable table table-striped ">
                    <thead>
                    <tr class="text-center">
                        <th scope="col"></th>
                        <th scope="col">MON</th>
                        <th scope="col">TUE</th>
                        <th scope="col">WED</th>
                        <th scope="col">THU</th>
                        <th scope="col">FRI</th>
                        <th scope="col">SAT</th>
                        <th scope="col">SUN</th>
                    </tr>
                    </thead>
                    <tbody id="timetable-mainBody">
                    <tr>
                        <th scope="row">06:00 Am</th>
                        <td>
                            <div style="position:relative; width:152px; display: none; top : 0px; border: none;
                                    margin: 0px; padding: 0px;"
                                 id = "example-block">
                                <button style="background-color: rgb(181, 196, 177);width:100%;
                                        text-align:center;">
                                </button>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">07:00 Am</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">08:00 Am</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">09:00 Am</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">10:00 Am</th>
                        <td></td>
                        <td class="timetable-workout">
                        </td>
                        <td></td>
                        <td class="timetable-workout">
                        </td>
                        <td class="timetable-workout">
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">11:00 Am</th>
                        <td></td>
                        <td>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">12:00 Pm</th>
                        <td>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">01:00 Pm</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">02:00 Pm</th>
                        <td>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">03:00 Pm</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">04:00 Pm</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">05:00 Pm</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">06:00 Pm</th>
                        <td></td>
                        <td class="timetable-workout">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">07:00 Pm</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">08:00 Pm</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">09:00 Pm</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">10:00 Pm</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">11:00 Pm</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">12:00 Am</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class = "card" style="width: 20%; height: 830px; float: right; border:2px solid black; border-radius: 5px;
    overflow: auto; margin-top:40px; margin-right: 45px; overflow: auto; opacity: 90%">
        <div style="text-align: center;margin-top: 20px;margin-bottom: 10px">
                <h2 style="display: inline-block; margin-bottom: 0px; margin-right:20px">Tasks List</h2>
                <svg style="margin-bottom: 14px" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar-check-fill" viewBox="0 0 16 16">
                    <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                </svg>
        </div>
    <div class="container">
    <div class="row">
      <div class="col s13">
        <p id="main">
          <div id = "inputs" class="card-content">
              <h4>Adding new tasks here:)</h4>

{#              This part is for selecting type of task#}
              <div id = "select-your-type" style="background-color: whitesmoke;">
                  <h6 style="padding: 15px">
                      Choose the type of your task
                  </h6>
                  <form id="select-type-form" style="padding:10px 15px">
                          <input type="radio" id="period" name="task-type" value="period">
                          <label for="period">Period</label><br>
                          <input type="radio" id="deadline" name="task-type" value="deadline">
                          <label for="deadline">Deadline</label><br>
                      <br>
                      <input id = "select-type-form-button" type="button" value="Choose" class="btn">
                  </form>
              </div>



              <div id = "real-form" style="display: none">

              </div>


{#              This part is for type period#}
              <div id = "period-type" style="background-color: whitesmoke;display:none">
                  <form id="task-form-period" style="padding:10px">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                      <div class="input-field col s12" style="display: none">
                          <input type="text" value="period" name="eventType" id="type-period"/>
                      </div>
                      <div class="input-field col s12">
                          <input type="text" name="eventName" id="task-period"/>
                          <label for="eventName">New Task</label>
                      </div>
                      <div class="input-field col s12">
                          <p>Date:</p>
                          <input type="date" name="date" id="date-period"/>
                      </div>
                      <div class="input-field col s12">
                          <p>Start time:</p>
                          <input type="time" name="startTime" id="start-period"/>
                      </div>
                      <div class="input-field col s12">
                          <p>End time:</p>
                          <input type="time" name="endTime" id="end-period"/>
                      </div>
                      <input id = "period-button" type="submit" value="Add event" class="btn"
                      name="action"/>
                  </form>
              </div>

{#              This is part for deadline option#}
              <div id = "deadline-type" style="background-color: whitesmoke; display:none">
                  <form id="task-form-ddl" style="padding:10px">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                      <div class="input-field col s12">
                          <input type="text" value="deadline" name="eventType" id="type-ddl" style="display: none; ">
                      </div>
                      <div class="input-field col s12">
                          <input type="text" name="eventName" id="task-ddl">
                          <label for="eventName">New Task</label>
                      </div>
                      <div class="input-field col s12">
                          <p>Date:</p>
                          <input type="date" name="date" id="date-ddl">
                      </div>
                      <div class="input-field col s12">
                          <p>Deadline:</p>
                          <input type="time" name="startTime" id="ddl">
                      </div>
                      <div class="input-field col s12" style="display: none;">
                          <p>Deadline:</p>
                          <input value="00:00" type="time" name="endTime" id="fake">
                      </div>
                      <input id = "ddl-button" type="submit" value="Add event" class="btn"
                      name="action">
                  </form>
              </div>
          </div>


          <div id = "existing-tasks" class="card-action">
              <h4 id="task-title">Your existing tasks </h4>
            <ul class="collection" id = "tasks-list">
                <li class="collection-item", id="hidden-example" hidden>
                You cannot see me :)
                <a href="#" class="delete-item secondary-content">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-backspace-fill" viewBox="0 0 16 16">
                    <path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z"></path>
                  </svg>
                </a>
              </li>
                <li class="collection-item tasks-title", id="completed-tasks" style="background-color: cornflowerblue; color:white; font-weight: bold">
                    Completed Tasks
                    <a href="#" class="hide-titles">
                    <svg style="float: right"id="Outline" xmlns="http://www.w3.org/2000/svg" width=20px height=20px viewBox="0 0 24 24">
                        <title>03 align right</title>
                        <path d="M1,6H23a1,1,0,0,0,0-2H1A1,1,0,0,0,1,6Z"/><path d="M23,9H9a1,1,0,0,0,0,2H23a1,1,0,0,0,0-2Z"/><path d="M23,19H9a1,1,0,0,0,0,2H23a1,1,0,0,0,0-2Z"/><path d="M23,14H1a1,1,0,0,0,0,2H23a1,1,0,0,0,0-2Z"/></svg>
                    </a>
                </li>
                <li class="collection-item tasks-title", id="today-tasks" style="background-color: darkorange; color:white; font-weight: bold">
                    Today's Tasks
                    <a href="#" class="hide-titles">
                    <svg style="float: right"id="Outline" xmlns="http://www.w3.org/2000/svg" width=20px height=20px viewBox="0 0 24 24">
                        <title>03 align right</title>
                        <path d="M1,6H23a1,1,0,0,0,0-2H1A1,1,0,0,0,1,6Z"/><path d="M23,9H9a1,1,0,0,0,0,2H23a1,1,0,0,0,0-2Z"/><path d="M23,19H9a1,1,0,0,0,0,2H23a1,1,0,0,0,0-2Z"/><path d="M23,14H1a1,1,0,0,0,0,2H23a1,1,0,0,0,0-2Z"/></svg>
                    </a>
                </li>
                <li class="collection-item tasks-title", id="future-tasks" style="background-color: darkseagreen; color:white; font-weight: bold;">
                    Future's Tasks
                    <a href="#" class="hide-titles">
                    <svg style="float: right"id="Outline" xmlns="http://www.w3.org/2000/svg" width=20px height=20px viewBox="0 0 24 24">
                        <title>03 align right</title>
                        <path d="M1,6H23a1,1,0,0,0,0-2H1A1,1,0,0,0,1,6Z"/><path d="M23,9H9a1,1,0,0,0,0,2H23a1,1,0,0,0,0-2Z"/><path d="M23,19H9a1,1,0,0,0,0,2H23a1,1,0,0,0,0-2Z"/><path d="M23,14H1a1,1,0,0,0,0,2H23a1,1,0,0,0,0-2Z"/></svg>
                    </a>
                </li>

            </ul>
              <form id = "clear-tasks" method="POST" action="/timeTable">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <input class="clear-tasks btn" type="submit" value="Clear all events"
                  name="action">
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
        <div id = "fake-forms">
            <form style="display: none" method="POST"  id = "fake-forms-example" action="/timeTable" >
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input value="period" name="eventType">
                <input name="eventName">
                <input name="date">
                <input name="startTime">
                <input name="endTime">
                <input type="submit" class="btn" name="action" value="Delete event">
            </form>
        </div>



    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="text-muted" style="margin-left: 50px">
        NUSchedule &copy; 2021
        <br>
        Developed by <a href="https://github.com/IrvingHe000/NowSchedule">NUSchedule Dev Team</a>.
    </div>
    </footer>

<script Language="JavaScript" src="../../static/timeTableOperation.js"></script>
<script>
        {% for eventCur in events %}
            console.log('{{ eventCur }}')
            if ('{{eventCur.eventType}}' === "period") {
            console.log('{{ eventCur.startTime}}');
            console.log('{{ eventCur.endTime}}');
            console.log('{{ eventCur.eventName }}');
            console.log('{{ eventCur.date }}');
            insertNewTaskPeriod('{{ eventCur.startTime}}', '{{ eventCur.endTime}}',
                '{{ eventCur.eventName }}', '{{ eventCur.date }}');}
            else {
                console.log("else")
            insertNewTaskDdl('{{ eventCur.eventName }}', '{{ eventCur.date }}','{{eventCur.startTime}}');
        }
         {% endfor %}


        function periodAddToTimetable(date, start, end, inputTask) {
        let starthour = start.substr(0, 2);
        let startmin = start.substr(3, 2);
        let endhour = end.substr(0, 2);
        let endmin = end.substr(3, 2);
        if (starthour < '1') {
            starthour = starthour.substr(1, 2);
        }
        if (endhour < '1') {
            endhour = endhour.substr(1, 2);
        }
        if (startmin < '1') {
            startmin = startmin.substr(1, 2);
        }
        if (endmin < '1') {
            endmin = endmin.substr(1, 2);
        }

        let color = colors[Math.floor(Math.random()*9)]
        if (starthour < 6 && endhour > 6) {
            starthour = 6;
            startmin = 0;
        } else if (starthour > 6 && endhour < 6) {
            endhour = 23;
            endmin = 59;
        } else if (starthour < 6 && endhour < 6) {
            return ;
        }

        const example = document.querySelector('#example-block');
        let weekday = date.getDay();
        if (weekday === 0) {
            weekday = 7;
        }
        const dayTimetable = document.querySelector('#timetable-mainBody');

        let minHeight = ((60 - startmin) / 60.0 + endmin / 60.0) * 65;
        let hourHeight = (endhour - starthour - 1) * 65;
        let h = minHeight + hourHeight;
        let height = h + "px";
        let timetableRow = dayTimetable.children[starthour - 6];
        let timetableGrid = timetableRow.children[weekday];
        let newGrid = example.cloneNode(true);

        newGrid.style.display = "block";
        newGrid.childNodes[1].textContent = inputTask;
        newGrid.style.height = height;
        newGrid.style.position = 'absolute';
        newGrid.style.top = startmin * 65.0 / 60.0 + 'px';
        newGrid.childNodes[1].style.borderStyle = "solid none solid none";
        newGrid.childNodes[1].style.borderRadius = "5px"
        newGrid.childNodes[1].style.borderColor = "black";
        newGrid.childNodes[1].style.backgroundColor = color;
        timetableGrid.style.position = 'relative';
        timetableGrid.appendChild(newGrid);

        if (starthour === endhour && startmin === endmin) {
            newGrid.childNodes[1].style.borderColor = "red";
        }
        return newGrid;
    }

    function insertNewTaskPeriod(inputStartTime, inputEndTime, inputTask, inputDate) {
        //Create a fake form
        const fakeForms = document.getElementById("fake-forms");
        const fakeFormsExample = document.getElementById("fake-forms-example")
        var newFakeForm = fakeFormsExample.cloneNode(true);
        newFakeForm.children[1].value = "period";
        newFakeForm.children[2].value = inputTask;
        newFakeForm.children[3].value = inputDate;
        newFakeForm.children[4].value = inputStartTime;
        newFakeForm.children[5].value = inputEndTime;
        fakeForms.appendChild(newFakeForm);


        const date = new Date(inputDate);
        let grid = null;
        const classify = compareDate(date, today);
        if (isSameWeek(date, today)) {
            grid = periodAddToTimetable(date, inputStartTime, inputEndTime, inputTask);
        }

        if (inputTask.value === "") {
            realForm.style.display = 'none';
            return;
        }
        const item = document.createElement("li");
        item.setAttribute('class', "collection-item");
        const text = document.createTextNode(inputTask);
        const link = document.createElement("a");
        link.setAttribute("href", "#");
        link.setAttribute("class", "delete-item secondary-content")
        const icon = svgIcon.cloneNode(true);
        link.appendChild(icon);
        item.appendChild(text);
        item.appendChild(link);
        item.setAttribute('id', num);
        num++;

        if (classify === -1) {
            tasks.insertBefore(item, titles[1]);
        } else if (classify === 0) {
            tasks.insertBefore(item, titles[2]);
        } else {
            tasks.appendChild(item);
        }

        selectTaskType.style.display = 'block';
        realForm.style.display = 'none';
        if (grid !== null) {
            events.set(item, grid);
        }
        console.log(item)
        console.log(newFakeForm)
        fakeFormsMap.set(item, newFakeForm);
        initilize();
    }

    function insertNewTaskDdl(inputTask, inputDate, ddl) {
        //Set
        const fakeForms = document.getElementById("fake-forms");
        const fakeFormsExample = document.getElementById("fake-forms-example")
        var newFakeForm = fakeFormsExample.cloneNode(true);
        newFakeForm.children[1].value = "deadline";
        newFakeForm.children[2].value = inputTask;
        newFakeForm.children[3].value = inputDate;
        newFakeForm.children[4].value = ddl;
        newFakeForm.children[5].value = ddl;
        fakeForms.appendChild(newFakeForm);

        const date = new Date(inputDate);
        var grid = null;
        const classify = compareDate(date, today);

        if (isSameWeek(date, today)) {
             grid = periodAddToTimetable(date, ddl, ddl, inputTask);
        }
        if (inputTask === "") {
            realForm.style.display = 'none';
            return;
        }
        const item = document.createElement("li");
        item.setAttribute('class', "collection-item");
        const text = document.createTextNode(inputTask);
        const link = document.createElement("a");
        link.setAttribute("href", "#");
        link.setAttribute("class", "delete-item secondary-content")
        const icon = svgIcon.cloneNode(true);
        link.appendChild(icon);
        item.appendChild(text);
        item.appendChild(link);
        item.setAttribute('id', num);
        item.style.color = "red";
        num++;
        if (classify === -1) {
            tasks.insertBefore(item, titles[1]);
        } else if (classify === 0) {
            tasks.insertBefore(item, titles[2]);
        } else {
            tasks.appendChild(item);
        }

        realForm.style.display = 'none';
        if (grid !== null) {
            events.set(item, grid);
        }
        fakeFormsMap.set(item, newFakeForm);
        initilize();
    }

</script>

</body>