<!doctype html>
<title>My Application</title>
<head>
    <style>
        * {
            margin : 0px;
            padding: 0px;
        }
        li {
            padding-top: 15px;
            text-align: center;
        }

        .message {
            color: white;
        }
        #warnings {
            height: 50px;
            margin: 0px;
            padding: 0px;
            background-color: coral;
        }
    </style>
</head>
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
        <div id = "warnings">
            <ul class=flashes>
            {% for message in messages %}
              <li><p class = "message">{{ message }}<p></li>
            {% endfor %}
            </ul>
        </div>
  {% endif %}
{% endwith %}

{% block body %}{% endblock %}
</body>